<app-menu></app-menu>

<h1>Albunes</h1>

<div class="container">
    <div class="row">
        <div class="col-12 col-md-4 mt-5" *ngFor="let dato of respuestaServicio">
            <img src="{{dato.imagenes}}" alt="" class="img-fluid w-100">
            <h1 class="text-center fw-bold mt-3 text-white">{{dato.nombre}}</h1>
            <h2 class="text-center fw-bold mt-3 text-white">{{dato.numeroPersonas}}</h2>
            <h2 class="text-center fw-bold mt-3 text-white">{{dato.valorNoche}}</h2>

        </div>
    </div>
</div>

<app-footer></app-footer>
