<app-menu></app-menu>


<div class="container-fluid mt-5 text-center">
    <h1 class="letra text-white">Historia de la Banda</h1>
    
    <br>
    <hr>
    <h4 class="text-center text-white">Durante la trayectoria musical de Solemne Mortis, se ha logrado la
        producción de tres lanzamientos discográficos (2 álbum y 1 split) los cuales
        han sido prensados en distintos países en el mundo como Colombia,
        Grecia, Holanda, USA y Lituania. Simultáneamente mientras fueron
        trabajados estos lanzamientos en sus procesos de grabación y
        composición, fueron realizadas varias presentaciones en vivo a nivel local
        y nacional, en municipios del departamento de Antioquia como Medellín,
        Envigado, Guarne, Yarumal, y en Bogotá.</h4>
</div>



