<header>
    <nav class="navbar navbar-expand-lg bg-black">
      <div class="container-fluid">
        <a class="navbar-brand text-light" routerLink="/">SolemmeMortis</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active text-light" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" routerLink="/historia">Historia</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" routerLink="/integrantes">Integrantes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" routerLink="/albumes">Albumes</a>
            </li>
          </ul>

          <ul class="nav-item">
            <img src="https://firebasestorage.googleapis.com/v0/b/soledmemortiz.appspot.com/o/logo.jfif?alt=media&token=27a3dadd-7362-441f-bbad-9a1eef0199f3" alt="" class="pentagrama">  
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <br><br>
      <h1 class="text-white">Domos</h1>
      <img src="https://firebasestorage.googleapis.com/v0/b/soledmemortiz.appspot.com/o/WhatsApp%20Image%202022-09-16%20at%2012.12.47%20AM.jpeg?alt=media&token=c6ca4f31-ee6d-4ce2-aa0d-be2e52adf75f" alt="" class="domos">

      <p class="lorem text-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi facere deleniti accusantium, obcaecati perspiciatis quaerat dolorum voluptatem quae eligendi repudiandae culpa sit saepe odio dolore in quisquam aliquam tenetur sed!</p>
    </div>

    <div>
      <h1 class="text-white">Maldito</h1>
      <img src="https://firebasestorage.googleapis.com/v0/b/soledmemortiz.appspot.com/o/WhatsApp%20Image%202022-09-16%20at%2012.14.57%20AM%20(2).jpeg?alt=media&token=3515f28d-83a6-4319-a7b4-5e747098a0f8" alt="" class="maldito">
    </div>
    
  </header>

