.banner{
    background-image: url('https://firebasestorage.googleapis.com/v0/b/soledmemortiz.appspot.com/o/WhatsApp%20Image%202022-09-16%20at%2012.12.47%20AM%20(2).jpeg?alt=media&token=c3a5b376-12e6-48c9-953f-84df1b1b1e64');

    background-position: top center;
    background-size: cover;
    padding: 5% 30% 50% 20%;
}

.foto{
    height: 400px;    
}


