<app-menu></app-menu>

<div class="banner">

</div>

<h1 class="mt5 fw-bold text center">Integrantes</h1>

<div class="container">
    <div class="row">
        <div class="col-12 col-4 mt-5" *ngFor="let personaje of personajes">
          <img src="{{personaje.foto}}" alt="foto" class="img-fluid  foto">
          <h1 class="text-center fw-bold mt-3">{{personaje.nombre}}</h1>
          <h2 class="text-center fw-bold">{{personaje.edad}}</h2>
        </div>  
    </div>  
</div>

<app-footer></app-footer>
    

